@use 'reset';
@font-face {
  font-family: 'Beltanira';
  src: local('Beltanira'),
  url("../assets/fonts/Beltanira\ Signature.otf") format("truetype");
}
@font-face {
  font-family: 'Cinemair';
  src: local('Cinemair'),
  url("../assets/fonts/Cinemair\ Regular.ttf") format("truetype");
}
html{
  height: 100vh;
}
body {
 height: 100%;
}
#root{
  height: 100%;
}

