.App {  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .alert {
    display: none;
    color: white;
    background-color: #F55D3E;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: 700;
    width: 30rem;
    margin-bottom: 4rem;
    padding: 0.5rem;
    text-align: center;
  }
  .alertOn{
    display: block;
  }
 .calculator{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #AEC3B0;
  border-radius: 1rem;
  width: 18rem;
  height: 29rem;
  .screen{    
    font-family: Beltanira;
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 15rem;
    height: 6rem;
    margin: 1rem 0;
    position: relative;
    .screen_content_top{
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #b3bcbf;
    }
    .screen_content_bottom{
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      font-size: 3rem;
      font-weight: 700;
      color: #01161E;
    }
    .smaller{
      font-size: 1.8rem;
    }
  }
  .clean_container{
    width: 100%;
    height: 2.9rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    .cleaning_button{
      font-family: Cinemair;
      height: 2.9rem;
      width: 5rem;
      border: none;
      border-radius: 1.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #EFF6E0;
      background-color: #124559;
    }
    .back_button{
      font-size: 2.8rem;
    }
  }
  .digits-symbols_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    .digits_button{
      font-family: Beltanira;
      margin: 0.25rem;
      height: 3.5rem;
      width: 3.5rem;
      border: none;
      border-radius: 5rem;
      font-size: 2rem;
      font-weight: 700;
      color: #EFF6E0;
      background-color: #598392;
    }
    .multiply_button{
      font-size: 1.5rem;
    }
  }
 }
}
